{% extends 'base.html' %}

{% block content %}
<div class="col m-5">
    <h2>{{book.title}}</h2>
    <h5>added by: {{book.uploaded_by.first_name }} {{book.uploaded_by.last_name}}</h5>
    <div class="w-100 mt-3"></div>

    <h5>added on: {{book.created_at}}</h5>
    <div class="w-100 mt-3"></div>

    <h5>last updated: {{book.updated_a}}t</h5>
    <div class="w-100 mt-3"></div>

    <h5>Description: {{book.desc}}</h5>

</div>
<div class="col m-5">
    <h2 class="text-start">Users Who Liked This Book</h2>
    <ul>
        {% for user in book.liked_by.all %}
        <li>
            <p>{{user.first_name}} {{user.last_name}} </p>
        </li>
        {% endfor %}
    </ul>
    {% if likedBook %}
    <a href="/books/un_favorite/{{book.id}}">Un_Favorite</a>
    {% else %}
    <a href="/books/favorite/{{book.id}}">Add to your Favorite</a>
    {% endif %}
</div>

{% endblock %}